Django==3.2
channels
channels-redis
uWSGI==2.0.17
djangorestframework
djangorestframework-simplejwt
Pillow
PyJWT==1.7.1
python-decouple==3.6
django-adminlte3==0.1.6
django-jazzmin==2.4.9
django-money==2.1.1
stripe
django-crontab
pyfcm
twilio
django-allauth
CurrencyConverter