{% extends 'app/base/base.html' %}
{% load static %}
<html>
{% block body %}
   <body>

    <div class="wraper-inner-main">
        <!-- ----------end header section----------- -->
        {% include 'app/base/navbar.html' %}
        <!-- ----------end header section----------- -->

        <div class="inner-space-main p-0">
        
        <section class="goal-detail-sec">
            <div class="container">
                {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'success'%}
                        <div class="alert alert-success">
                            {{message}}
                        </div>
                        {% elif message.tags == 'error' %}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                <div class="goal-about-sec">
                    <div class="slider-arrow owl-carousel detail-post owl-theme">
                        <div class="item"><figure><img src="images/goal-detail-img1.png"></figure></div>
                        <div class="item"><figure><img src="images/goal-detail-img.png"></figure></div>
                        <div class="item"><figure><img src="images/goal-detail-img1.png"></figure></div>
                    </div>

                    <div class="post-heart-info">
                        <h5>Goal Type: {{goal.goal_type}}</h5>
                        <a href="javascript:;"><h4>{{goal.goal_name}}</h4></a>
                        <div class="post-btn-lst">
                            {% if goal.goal_type == 'GROUP' %}
                            <div class="notification-view">
                                <a class="header-notification-in" href="{% url 'group_web_chat' goal.slug %}">
                                    <i>
                                        <svg class="icon icon-tabler icon-tabler-message-circle-2" width="44" height="44" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1"></path>
                                            <line x1="12" y1="12" x2="12" y2="12.01"></line>
                                            <line x1="8" y1="12" x2="8" y2="12.01"></line>
                                            <line x1="16" y1="12" x2="16" y2="12.01"></line>
                                        </svg>
                                    </i>
                                    <span class="notification-count">1</span>
                                </a>
                            </div> 
                            {% endif %}
                            {% if request.user.id == goal.user_id %}
                            <a class="post-btn" href="{% url 'edit_goal' goal.slug %}">
                                <svg class="icon icon-tabler icon-tabler-pencil" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                                  <line x1="13.5" y1="6.5" x2="17.5" y2="10.5"></line>
                                </svg>
                            </a>
                            {% else %}{% endif %}
                            <a class="post-btn" href="{% url 'userFavouruteGoal' goal.slug %}">
                                {% if fav_goal.user_id == request.user.id and fav_goal.favourite == 1 %}
                                <i class="ri-heart-fill"></i>{% else %}<i class="ri-heart-line"></i>{% endif %}
                                {% comment %} <svg class="icon icon-tabler icon-tabler-heart" width="26" height="26" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round"> {% endcomment %}
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <p>{{goal.goal_desc}}</p>
                    <div class="goal-detail-dec">
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li>
                                        <h6>Total Amount</h6>
                                        <span>${{goal.goal_amount.normalize}}</span>
                                    </li>
                                    {% comment %} <li>
                                        <h6>Total Covered Amount </h6>
                                        <span>${{goal.goal_amount.normalize}}</span>
                                    </li> {% endcomment %}
                                    <li>
                                        <h6>Started Date</h6>
                                        <span>{{goal.start_date}}</span>
                                    </li>
                                    <li>
                                        <h6>Payment Plan </h6>
                                        <span>{{goal.payment_plan.plan_name}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>{% if sub_goal%}
                                    <li>
                                        <h6>Sub Goal Name</h6>
                                        <span>{{sub_goal.sub_goal_name}}</span>
                                    </li>
                                    <li>
                                        <h6>Sub Goal Price</h6>
                                        <span>$ {{sub_goal.sub_goal_amount|floatformat}}</span>
                                    </li>
                                    <li>
                                        <h6>Sub Goal Start Date</h6>
                                        <span>{{sub_goal.sub_start_date}}</span>
                                    </li>
                                    {% else %}
                                    
                                    {% endif %}
                                    {% if donation_amount > 0 %}
                                    <li>
                                        <h6>Donation Amount</h6>
                                        <span>$ {{donation_amount}}</span>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="goal-detail-btn">
                        {% if request.user.id == goal.user_id %}
                        {% if goal.goal_type == 'GROUP' %}
                        <a class="btn btn-liner" href="{% url 'edit_user_list' goal.slug%}">Manage Request</a>
                        <!-- <a class="btn black-btn" href="javascript:;">Delete</a> -->
                        {% else %}{% endif %}{% endif %}
                        <form method="POST" action="{% url 'goal_donate' %}" >
                            {% csrf_token %}
                            <input type='hidden'name="user_goal_slug" value="{{goal.slug}}">
                            <button class="btn">Donate</button>
                            
                        </form>
                        {% for i in goals %}                        
                        {% if i.user_id %}
                        {% if goal.start_date.date <= currntdate %}
                        {% if goal.id != user_subscription_data.goal_id %}
                        <button class="btn" data-bs-toggle="modal" onclick="fetch_req({{goal.id}})" data-bs-target="#exampleModal">Subscription Start</button>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="goal-amount">Goal Amount</label>
                        <form method="POST" enctype="multipart/form-data"   action="{% url 'goal_start' goal.slug%}">
                            {% csrf_token %}
                            <h6>Goal ID</h6>
                            <input disabled type="text" name="goal_id" id="goal-id"  class="form-control">
                            <h6>Total Members</h6>
                            <input disabled type="text" name="goal_member" id="goal-member" class="form-control">
                            <h6>Total Amount</h6>
                            <input disabled type="text" name="goal_amount1" id="goal-amount1" class="form-control">
                            <h6>EMI Amount</h6>
                            <input type="text" name="amount" id="amount" value="{{data.amount}}" class="form-control">
                        
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {% comment %} <form method="POST">
                    {% csrf_token %} {% endcomment %}
                    <input type='hidden'name="user_goal_slug" value="" >
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                </div>
            </div>
            </div>
        </div>

        <!-- ----------footer section----------- -->
        {% include 'app/base/footer.html' %}
        <!-- ----------footer section----------- -->
    </div>
    <!-- -----ajax script------ -->
    
    <script>
        function  fetch_req(id){
          let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value; 
          $.ajax({
              type: "POST",
              url: "{% url 'goal_amount_detail' goal.slug %}",
              headers: { 'X-CSRFToken': csrftoken }, 
              data: 
              {
               
                goal_id:id,
              },
              
              success: function(res) {
                
                $('#amount').val(res.amount1)
                $('#goal-id').val(res.goal_id)
                $('#goal-amount1').val(res.amount)
                $('#goal-member').val(res.member)
                toastr.success(res.message)
            

              },error:function(res){
                  toastr.success(res.message);
  
              } 
          
            });
  
        }
      </script>


    
    <!-- -----java script------ -->
    <script>
       $(window).scroll(function(){var body=$('body'),scroll=$(window).scrollTop();if(scroll>=5){body.addClass('fixed');}else{body.removeClass('fixed');}});
    </script>

    <!-- -----side menu------ -->
        <script>
           $('#menu-button').click(function(e) {
               e.stopPropagation();
               $('#hide-menu').toggleClass('show-menu');
           });
           $('#hide-menu').click(function(e) {
               e.stopPropagation();
           });
           $('body,html,.closebtn').click(function(e) {
               $('#hide-menu').removeClass('show-menu');
           });
        </script>
    <!-- -----side menu------ -->
    <script type="text/javascript">
        $('.detail-post').owlCarousel({
            loop:true,
            margin:0,
            nav:true,
            dots:false,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:1
                },
                1000:{
                    items:1
                }
            }
        })
    </script>
    </body>
    {% endblock %}
</html>