{% extends 'app/base/base.html' %}
{% load static %}
<html>
{% block body %}
      <meta charset="utf-8">
   </head>
   <body>

    <div class="wraper-inner-main">
        <!-- ----------end header section----------- -->
        {% include 'app/base/navbar.html' %}
        <!-- ----------end header section----------- -->

        <div class="inner-space-main p-0 gry_bg">
        
            <section class="select-goals-sec">
                <div class="container">
                    <div class="row inner-dash-bord">
                        <div class="col-md-3">
                            {% include 'app/base/sidebar.html' %}
                        </div>
                        <div class="col-md-9">
                            <div class="dashboard-right-body">
                                <div class="heading_dash_rt">
                                    <h3>Goals Management</h3>
                                    <a class="btn" href="javascript:;">Create Goal</a>
                                </div>
                                <div class="dash-in-space">

                                    <div class="my-favorite-tb">
                                        <ul class="nav nav-pills equal_tabing" id="pills-tab" role="tablist">
                                              <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="pills-goals-tab" data-bs-toggle="pill" data-bs-target="#pills-goals" type="button" role="tab" aria-controls="pills-goals" aria-selected="false">Participated</button>
                                              </li>
                                              <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="pills-post-tab" data-bs-toggle="pill" data-bs-target="#pills-post" type="button" role="tab" aria-controls="pills-post" aria-selected="false">Posted</button>
                                              </li>
                                              <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="pills-request-tab" data-bs-toggle="pill" data-bs-target="#pills-request" type="button" role="tab" aria-controls="pills-request" aria-selected="false">Requested</button>
                                              </li>
                                        </ul>
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-goals" role="tabpanel" aria-labelledby="pills-goals-tab">
                                                <div class="favorite-cont-lists">
                                                    <div class="row form-group-lists favorite_user_by">
                                                        {% for i in goal_member %}
                                                        <div class="col-sm-4">
                                                            <div class="form-group-by">
                                                                <a href="{% url 'goal_details' i.goal.slug %}">
                                                                    <figure><img src="{% static 'frontend/images/posts-img5.png' %}"></figure></a>
                                                                <figcaption>
                                                                    <h6>{{i.goal.goal_type}}</h6>
                                                                    
                                                                    <a href="{% url 'goal_details' i.goal.slug %}"><h5>{{i.goal.goal_name}}</h5></a>
                                                                    <!-- <h4>Convert Amount: ${{i.goal.goal_amount.normalize}}</h4> -->
                                                                    <span class="amount-right">${{i.goal.goal_amount.normalize}}</span>
                                                                </figcaption>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-post" role="tabpanel" aria-labelledby="pills-post-tab">
                                                <div class="favorite-cont-lists">
                                                    <div class="row form-posted-lists">
                                                        {% for i in goal_owner %}
                                                        {% if i.owner_id == request.user.id %}
                                                        <div class="col-md-4">
                                                            <div class="form-group-by">
                                                                <a href="{% url 'goal_details' i.goal.slug %}">
                                                                    <figure><img src="{% static 'frontend/images/posts-img5.png' %}"></figure></a>
                                                                <figcaption>
                                                                    <h6>{{i.goal.goal_type}}</h6>
                                                                    <a href="{% url 'goal_details' i.goal.slug %}"><h5>{{i.goal.goal_name}}</h5></a>
                                                                    <h4>Convert Amount: ${{i.goal.goal_amount.normalize}}</h4>
                                                                    <span class="amount-right">${{i.goal.goal_amount.normalize}}</span>
                                                                </figcaption>
                                                                <button class="btn btn-pencil"  >
                                                                    <svg class="icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                        <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                                                                        <line x1="13.5" y1="6.5" x2="17.5" y2="10.5"></line>
                                                                    </svg>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        {% else %}
                                                        No Goal Found
                                                        {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-request" role="tabpanel" aria-labelledby="pills-request-tab">
                                                <div class="followers-cont-lists">
                                                  <ul>
                                                      {% if goalm %}
                                                        {% for i in goalm %}
                                                            <li>
                                                                <div class="lt_followers_bx">
                                                                    <a href="{% url 'goal_details' i.goal.slug %}">
                                                                    <figure><img src="{% static 'frontend/images/posts-img5.png' %}" class="mCS_img_loaded"></figure>
                                                                    <figcaption>
                                                                        {% comment %} <h6 style="color:black">{{i.goal.goal_type}}</h6> {% endcomment %}
                                                                            <a href="{% url 'goal_details' i.goal.slug %}"><h5 style="color:black">{{i.goal.goal_name}}</h5></a>
                                                                    </figcaption>
                                                                </div>
                                                                <div class="ry_followers_bx d-flex">
                                                                    {% comment %} <form method="POST">
                                                                        {% csrf_token %}
                                                                        <input name="following_user_id"type="hidden" value="{{i.id}}">
                                                                    </form> {% endcomment %}
                                                                    <form method="POST" action="{% url 'goal_req_accept' %}">
                                                                        {% csrf_token %}
                                                                    <input type="hidden" name="req_accept"value="{{i.id}}">
                                                                    <button class="btn" type="submit" >Accept</button>
                                                                    <button class="btn reject-btn" onclick="delete_req({{i.id}})" type="button" >Reject</button>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                      {% else %}  
                                                      <p>No Request Found</p>
                                                      {% endif %}
                                                  </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>


        <!-- ----------footer section----------- -->
        {% include 'app/base/footer.html' %}
        <!-- ----------footer section----------- -->
    </div>

    <!-- -----java script------ -->

    <!-- -----side menu------ -->
        <script>
           $('#menu-button').click(function(e) {
               e.stopPropagation();
               $('#hide-menu').toggleClass('show-menu');
           });
           $('#hide-menu').click(function(e) {
               e.stopPropagation();
           });
           $('body,html,.closebtn').click(function(e) {
               $('#hide-menu').removeClass('show-menu');
           });
        </script>
        <script>
            function  delete_req(id){
              let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value; 
              $.ajax({
                  type: "POST",
                  url: "{% url 'DeletegoalReq' %}",
                  headers: { 'X-CSRFToken': csrftoken }, 
                  data: 
                  {
                      id:id,
                  },
                  
                  success: function(res) {
                    toastr.success(res.message)
                    window.location.href = "/goals/"
    
                  },error:function(res){
                      toastr.success(res.message);
      
                  } 
              
                });
      
            }
          </script>
    <!-- -----side menu------ -->
    </body>
    {% endblock %}
</html>