{% extends 'app/base/base.html' %}
{% load static %}
<html>
{% block body %}
   <body>

    <div class="wraper-inner-main">
        <!-- ----------end header section----------- -->
        {% include 'app/base/navbar.html' %}
        <!-- ----------end header section----------- -->

        <div class="inner-space-main p-0 gry_bg">
        
            <section class="select-goals-sec">
                <div class="container">
                    <div class="row inner-dash-bord">
                        <div class="col-md-3">
                            {% include 'app/base/sidebar.html' %}
                        </div>
                        <div class="col-md-9">
                            <div class="dashboard-right-body">
                                <div class="my-profile-partner">
                                    <div class="heading_dash_rt">
                                        <h3>Dashboard</h3>
                                    </div>
                                    <div class="dash-in-space">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="dash_shareing_bx bg_earn">
                                                    <article>
                                                        <figure><img src="{% static 'frontend/images/earning-icon.svg' %}"></figure>
                                                        <figcaption>
                                                            <h6>Total Earning</h6>
                                                            <h3>$4376.00</h3>
                                                        </figcaption>
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected="">Today</option>
                                                            <option value="1">Tomarow 1</option>
                                                         </select>
                                                    </article>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="dash_shareing_bx bg_prod">
                                                    <article>
                                                        <figure><img src="{% static 'frontend/images/products-icon.svg' %}"></figure>
                                                        <figcaption>
                                                            <h6>Total Sold Products</h6>
                                                            <h3>{{total_product}}</h3>
                                                        </figcaption>
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected="">Today</option>
                                                            <option value="1">Tomarow 1</option>
                                                         </select>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>


        <!-- ----------footer section----------- -->
        {% include 'app/base/footer.html' %}
        <!-- ----------footer section----------- -->
    </div>

    <!-- -----java script------ -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
       $(window).scroll(function(){var body=$('body'),scroll=$(window).scrollTop();if(scroll>=5){body.addClass('fixed');}else{body.removeClass('fixed');}});
    </script>

    <!-- -----side menu------ -->
        <script>
           $('#menu-button').click(function(e) {
               e.stopPropagation();
               $('#hide-menu').toggleClass('show-menu');
           });
           $('#hide-menu').click(function(e) {
               e.stopPropagation();
           });
           $('body,html,.closebtn').click(function(e) {
               $('#hide-menu').removeClass('show-menu');
           });
        </script>
    <!-- -----side menu------ -->
    </body>
    {% endblock %}
</html>