{% exclude 'base1.html' %}
{% load static %}
{% block body %}
        <section class="home-carousel">
            <div class="container">
                <div class="owl-carousel home-banners owl-theme">
                    <div class="item">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="home-item-text">
                                    <h1>Lorem Ipsum is simply dummy</h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                        suffered alteration in some form, by injected humour,</p>
                                    <a class="btn" href="javascript:;">Get Started</a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="home-item-text">
                                    <figure><img src="{% static 'frontend/images/home-img1.png' %}"></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="home-item-text">
                                    <h1>Lorem Ipsum is simply dummy</h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                        suffered alteration in some form, by injected humour,</p>
                                    <a class="btn" href="javascript:;">Get Started</a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="home-item-text">
                                    <figure><img src="{% static 'frontend/images/home-img1.png' %}"></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="home-item-text">
                                    <h1>Lorem Ipsum is simply dummy</h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                        suffered alteration in some form, by injected humour,</p>
                                    <a class="btn" href="javascript:;">Get Started</a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="home-item-text">
                                    <figure><img src="{% static 'frontend/images/home-img1.png' %}"></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="hm-about-sec">
            <div class="container">
                <div class="main-heading">
                    <span class="green-text">About us</span>
                    <h2>There are many variations of passages of Lorem Ipsum</h2>
                </div>
        
                <div class="hm-about-img">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                        in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                        are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden
                        in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                        as necessary, making this the first true generator on the Internet. There are many variations of
                        passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
                        humour, or randomised words which don’t look even slightly believable. If you are going to use a passage
                        of Lorem Ipsum,</p>
                    <div class="hm-about-in">
                        <figure><img src="{% static 'frontend/images/about-us-hm.jpg' %}"></figure>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="latest-goals-sec">
            <div class="container">
                <div class="main-heading">
                    <h2>Latest Goals</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                        in some form, by injected humour.</p>
                </div>
                <div class="goals-slides-lists">
                    <div class="slider-arrow owl-carousel goals-slides owl-theme">
                        <div class="item">
                            <div class="goals-item-text">
                                <figure><img src="{% static 'frontend/images/latest-1.png' %}"></figure>
                                <h6>Goal 1 Lorem Ipsum</h6>
                            </div>
                        </div>
                        <div class="item">
                            <div class="goals-item-text">
                                <figure><img src="{% static 'frontend/images/latest-2.png' %}"></figure>
                                <h6>Goal 2 Lorem Ipsum</h6>
                            </div>
                        </div>
                        <div class="item">
                            <div class="goals-item-text">
                                <figure><img src="{% static 'frontend/images/latest-3.png' %}"></figure>
                                <h6>Goal 3 Lorem Ipsum</h6>
                            </div>
                        </div>
                        <div class="item">
                            <div class="goals-item-text">
                                <figure><img src="{% static 'frontend/images/latest-1.png' %}"></figure>
                                <h6>Goal 4 Lorem Ipsum</h6>
                            </div>
                        </div>
                        <div class="item">
                            <div class="goals-item-text">
                                <figure><img src="{% static 'frontend/images/latest-2.png' %}"></figure>
                                <h6>Goal 5 Lorem Ipsum</h6>
                            </div>
                        </div>
                    </div>
                    <div class="text-center"><a class="btn" href="javascript:;">View All</a></div>
                </div>
            </div>
        </section>
        
        <section class="testimonials-sec">
            <div class="container">
                <div class="testimonials-flex">
                    <div class="main-heading">
                        <span class="green-text">Testimonials</span>
                        <h2>There are many variations of passages of Lorem Ipsum</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                            alteration in some form, by injected humour, or randomised </p>
                    </div>
                    <div class="testimonials-slides-lists">
                        <div class="slider-arrow owl-carousel testimonials owl-theme">
                            <div class="item">
                                <div class="testi-item-text">
                                    <figure><img src="{% static 'frontend/images/user1.png' %}"></figure>
                                    <figcaption>
                                        <span><img src="{% static 'frontend/images/equal.svg' %}"></span>
                                        <h5>Carlene D. Allen</h5>
                                        <h6>Manager</h6>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                            suffered alteration in some form, </p>
                                    </figcaption>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testi-item-text">
                                    <figure><img src="{% static 'frontend/images/user-2.png' %}"></figure>
                                    <figcaption>
                                        <span><img src="{% static 'frontend/images/equal.svg' %}"></span>
                                        <h5>Joshua Hughes</h5>
                                        <h6>Manager</h6>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                            suffered alteration in some form, </p>
                                    </figcaption>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testi-item-text">
                                    <figure><img src="{% static 'frontend/images/user1.png' %}"></figure>
                                    <figcaption>
                                        <span><img src="{% static 'frontend/images/equal.svg' %}"></span>
                                        <h5>Joshua Hughes</h5>
                                        <h6>Manager</h6>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                            suffered alteration in some form, </p>
                                    </figcaption>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testi-item-text">
                                    <figure><img src="{% static 'frontend/images/user-2.png' %}"></figure>
                                    <figcaption>
                                        <span><img src="{% static 'frontend/images/equal.svg' %}"></span>
                                        <h5>Joshua Hughes</h5>
                                        <h6>Manager</h6>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                            suffered alteration in some form, </p>
                                    </figcaption>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}